header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  background-color:#2e3842;
  color:#fff;
  min-height:64px;
  transition:height 0.4s ease-in-out;
  z-index:98;
  padding:7.5px 0 0 0;
}
.nav-menu{
  height:100%;
}
.nav-menu a{
  color:inherit;
  width:100%;
  display:block;
  padding:10px 25px;
  font-size:105%;
}
a.nav-brand{
  text-transform: uppercase;
  font-weight:700;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  max-width:250px;
  margin-left:50px;
  padding-left:15px;
}
.brand{
  margin:0 0 25px 25px;
}
.menu-bar{
  cursor:pointer;
  position:fixed;
  top:12.5px;
  left:25px;
  width:40px;
  height:auto;
  z-index:125;
  transition:left 0.5s ease-in-out;
}
.open-bar{
    left: 225px;
    color:#fff;
}
.full{
  width:0;
  height:0;
  overflow:visible;
}
.shadow{
  position:fixed;
  width:100%;
  top:0;
  bottom:0;
  min-height:120vh;
  background-color:rgba(0,0,0,0.5);
  z-index:100;
}
#header{
  background-color:transparent;
  position:absolute;
}
#header .chat,
#header .menu-bar{
  position:absolute;
}
.drop{
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  width:0;
  min-height:120vh;
  opacity:0;
  overflow:hidden;
  transition:width 1.5s ease-out;
  box-shadow:-1px 2px 1px 2px rgba(0,0,0,0.05);
  background-color:#0FBE7C;
}
.drop a:not(:first-child){
  display:block;
  width:100%;
  padding:12.5px 25px;
  margin-bottom:2px;
  color:#fff;
  font-size:1.1em;
  transition:color 0.25s ease-in-out;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.drop a:hover{
  color: #fefefe;
}
.drop:before{
  content:'';
  width:0;
  bottom:100%;
  position:absolute;
  right:10px;
  top:50;
  border-right: 7.5px solid transparent;
  border-left:7.5px solid transparent;
  border-bottom:9px solid #fefefe;
}
.open{
  padding:75px 25px;
  width:90%;
  max-width:270px;
  opacity:1;
}
.logo{
  width:75px;
  margin:0 auto 15px auto !important;
  padding:0;
}
.icon-close{
  animation: delay 1.5s ease-in;
}
@keyframes delay{
  0%{ opacity:0 }
  100%{ opacity:1 }
}
