header{
  width: 100%;
  transition:height 0.4s ease-in-out;
  z-index: 98;
  padding: 0.5rem 0 0 0;
}
.nav {
  background-color: $theme;
  color: $light;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  toggle {
    display: none;
  }
  &-brand{
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 250px;
    z-index: 9;
    position: relative;
  }
  &-item {
    display: inline-flex;
    padding: 1rem;
    outline: none;
    position: relative;
    cursor: pointer;
  }
  &-item:focus, &-active {
    background-color: $tint;
    color: $light !important;
  }
  &-top {
    display: flex;
    min-height: 64px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }
  &-submenu {
    display: grid;
    background-color: $light;
    position: absolute;
    top: 100%;
    min-width: 15rem;
    color: $dark;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in;
    left: 0;
    box-shadow: 0 1rem 4rem rgba($dark, 0.17);
  }
  &-submenu &-item:not(:last-child) {
    border-bottom: 1px solid $haze;
  }
  &-item:hover &-submenu, &-item:focus &-submenu {
    z-index: 999999;
    opacity: 1;
  }
  &-menu{
    height: 100%;
    a {
      color: inherit;
      width: 100%;
      display: block;
      padding: 10px 25px;
      font-size: 105%;
    }
  }
  &-logo{
    width: 75px;
    padding: 0;
    &.xs {
      // hide logo on desktop
      display: none;
    }
  }
}

.register{
  background: #FFB236;
  color: $light;
  font-size: 1rem;
  padding: 0.33rem 1rem;
  border-radius: 5px;
  display: inline-flex;
  text-align: center;
}
@keyframes delays{
  0% { opacity: 0; }
  100%{ opacity: 1; }
}

@media screen and (max-width: 769px) {
  .nav {
    display: grid;
    justify-content: initial;
    position: absolute;
    width: 100%;
    top: 5rem;
    z-index: 1;
    padding-bottom: 2rem;
    &-item {
      display: grid;
    }
    &-toggle {
      display: initial;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      position: relative;
      z-index: 99999;
      background-image: url(/assets/bar.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75%;
      &::before {
        content: "MENU";
        position: absolute;
        top: -1rem;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
    &-logo {
      &.xl {
        // hide logo in mobile
        display: none;
      }
      &.xs {
        display: initial;
      }
    }
    &-submenu {
      position: relative;
      z-index: 999999;
      opacity: 1;
      top: 0;
      margin-top: 1.5rem;
      width: 100%;
      min-width: 7rem;
      background-color: rgba($dark, 0.15);
      color: $light;
    }
    &-submenu &-item:not(:last-child) {
      border-bottom: 1px solid $theme;
    }
  }
  main {
    position: relative;
    z-index: 5;
  }
}
