article{
  padding:25px;
}
.tripple{
  width:100%;
}
.post{
  padding:30px 20px;
  box-shadow: 0 1rem 4rem rgba($dark, 0.17);
  background-color: $light;
  padding:15px;
  margin-top:7.5px;
  margin:0 auto;
  padding:15px 25px;
  display: grid;
  h1,h2, h3{
    margin:15px auto;
    text-align:left;
    padding:5px 0 0 0;
  }
  p{
    padding-bottom:12.5px;
    padding-top:12.5px;
  }
  &s {
    margin:-60px 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    grid-gap: 2rem;
    h3:hover{
      color: #47CF73;
    }
  }
  &_list {
    h3{
      text-align:left;
      color:inherit;
      padding-left:0;
      transition:color 0.25s ease-in-out;
    }
    li{
      padding:10px 0;
      margin:7.5px 0 0;
      border-bottom:1px solid rgba(0,0,0,0.08);
      transition:color 0.25s ease-in;
      &:hover{
        color: #47CF73;
      }
    }
  } 
  &_main {
    grid-gap: 2.25rem;
    display: grid;
    @media screen and (min-width: 769px) {
      grid-template-columns: 4rem auto;
    }
  }
  &_section {
    grid-column: 1/-1;
  }
  &_content {
    h4{
      margin:5px 0;
      text-align:left;
    }
    a{
      color:#47CF73;
      padding-bottom:7.5px;
      text-decoration:underline;
    }
  }
  &_title{
    margin:5px 0;;
  }
  &_link{
    padding:2.5px 0;
    margin:2.5px 0;
  }
}

.fade{
  color:#888 !important;
  display:block;
  font-size:0.96em;
}
.follow{
  padding:5px;
  border-radius:50%;
  color:#fff;
}
.flex{
  display:flex;
  flex-direction:row;
}
.gravatar{
  width:64px;
  border-radius:50%;
  display:inline-block;
  margin:0 10px 0 0;
}
.connect{
  color:#47CF73;
  border:1px solid #47CF73;
  padding:0 10px;
  font-size:0.9em;
  border-radius:12.5px;
}
.pretty{
  min-width:150px;
  display:inline-block;
  padding:7.5px 12.5px;
  background-color:rgba(0,0,0,0.8);
  color:#fff;
}
aside h3{
  position:relative;
  margin:0 !important;
}
.featured{  
  position:relative;
  min-width:250px;
  max-height:360px;
  width:auto;
  margin:12.5px 0 0;
  overflow:hidden;
}
.featured img{
  border-radius:3.5px;
}
.featured:after{
  position:absolute;
  width:90%;
  cursor:pointer;
  background:linear-gradient(transparent , rgba(0,0,0,0.5));
  top:0;
  bottom:0;
  left:0;
  border-bottom:22.5px solid rgba(0,0,0,0.8);
  border-radius:3.5px;
}